<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mecanum_bot">

  <xacro:include filename="$(find first_urdf)/urdf/mecanum_wheel.xacro" />

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.1" rpy="0 0 0" />
      <geometry>
        <box size="1.0 1.0 1.0" />
      </geometry>
      <material name="white">
        <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.1" rpy="0 0 0" />
      <geometry>
        <box size="1.0 1.0 1.0" />
      </geometry>
    </collision>
    <inertial>
      <mass value="4.0" />
      <inertia ixx="2.5" ixy="0.0" ixz="0.0" iyy="2.5" iyz="0.0" izz="2.5" />
    </inertial>
  </link>

  <xacro:mecanum_wheel prefix="front_left"  parent="base_link" xyz="0.5 0.5 -0.4"  rpy="1.5708 0 0" roll_sign="-1" />
  <xacro:mecanum_wheel prefix="front_right" parent="base_link" xyz="0.5 -0.5 -0.4" rpy="1.5708 0 0" roll_sign="1" />
  <xacro:mecanum_wheel prefix="rear_left"   parent="base_link" xyz="-0.5 0.5 -0.4"  rpy="1.5708 0 0" roll_sign="1" />
  <xacro:mecanum_wheel prefix="rear_right"  parent="base_link" xyz="-0.5 -0.5 -0.4" rpy="1.5708 0 0" roll_sign="-1" />

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="front_left_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="front_right_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="rear_left_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="rear_right_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find first_urdf)/config/mecanum_controllers.yaml</parameters>
    </plugin>
  </gazebo>
</robot>