<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mecanum_wheel" params="prefix parent xyz roll_sign mesh_pkg hub_sign:=1">

    <link name="${prefix}_wheel_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 ${(1 - hub_sign) * pi / 2} 0" />
        <geometry>
          <mesh filename="package://${mesh_pkg}/meshes/wheel_hub.STL" scale="${hub_sign} 1 1"/>
        </geometry>
        <material name="yellow">
          <color rgba="1.0 0.85 0.0 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 ${(1 - hub_sign) * pi / 2} 0" />
        <geometry>
          <cylinder radius="0.0267" length="0.024" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.8" />
        <inertia ixx="1.5E-03" ixy="0.0" ixz="0.0"
                 iyy="2.5E-03" iyz="0.0" izz="1.5E-03" />
      </inertial>
    </link>

    <joint name="${prefix}_wheel_joint" type="continuous">
      <parent link="${parent}" />
      <child link="${prefix}_wheel_link" />
      <origin xyz="${xyz}" rpy="1.5708 0 0" />
      <axis xyz="0 0 -1" />
      <dynamics damping="0.001" friction="1.0"/>
    </joint>


    <gazebo reference="${prefix}_wheel_link">
      <material>Gazebo/Yellow</material>
      <mu1>0.2</mu1>
      <mu2>0.02</mu2>
      <fdir1>1 0 0</fdir1>
      <kp>1000000.0</kp>
      <kd>10.0</kd>
      <minDepth>0.0005</minDepth>
      <maxVel>0.5</maxVel>
    </gazebo>

    <xacro:roller prefix="${prefix}" num="1" mesh_pkg="${mesh_pkg}"
      x="0.0225"    y="0.0"        rr="-0.7854" rp="0" ry="0"       roll_sign="${roll_sign}"/>
    <xacro:roller prefix="${prefix}" num="2" mesh_pkg="${mesh_pkg}"
      x="0.015909"  y="0.015911"   rr="-0.68472" rp="-0.42053" ry="0.32175" roll_sign="${roll_sign}"/>
    <xacro:roller prefix="${prefix}" num="3" mesh_pkg="${mesh_pkg}"
      x="0.0"       y="0.0225"     rr="0.7854"  rp="0" ry="-1.5708"  roll_sign="${roll_sign}"/>
    <xacro:roller prefix="${prefix}" num="4" mesh_pkg="${mesh_pkg}"
      x="-0.015911" y="0.015909"   rr="0.7854"  rp="0" ry="-0.7854"  roll_sign="${roll_sign}"/>
    <xacro:roller prefix="${prefix}" num="5" mesh_pkg="${mesh_pkg}"
      x="-0.0225"   y="0.0"        rr="0.7854"  rp="0" ry="0"        roll_sign="${roll_sign}"/>
    <xacro:roller prefix="${prefix}" num="6" mesh_pkg="${mesh_pkg}"
      x="-0.015909" y="-0.015911"  rr="0.7854"  rp="0" ry="0.7854"   roll_sign="${roll_sign}"/>
    <xacro:roller prefix="${prefix}" num="7" mesh_pkg="${mesh_pkg}"
      x="0.0"       y="-0.0225"    rr="0.7854"  rp="0" ry="1.5708"   roll_sign="${roll_sign}"/>
    <xacro:roller prefix="${prefix}" num="8" mesh_pkg="${mesh_pkg}"
      x="0.015911"  y="-0.015909"  rr="0.7854"  rp="0" ry="2.3562"   roll_sign="${roll_sign}"/>

  </xacro:macro>

  <xacro:macro name="roller" params="prefix num mesh_pkg x y rr rp ry roll_sign">
    <link name="${prefix}_roller_${num}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://${mesh_pkg}/meshes/roller_${num}.STL" scale="1 1 1"/>
        </geometry>
        <material name="red">
          <color rgba="1.0 0.0 0.0 1.0" />
        </material>
      </visual> 
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <cylinder radius="0.0065" length="0.02" />
        </geometry>
      </collision>          
      <inertial>
        <mass value="0.05" />
        <inertia ixx="1.2617E-07" ixy="0.0" ixz="0.0"
                 iyy="1.2617E-07" iyz="0.0" izz="5.1291E-08" />
      </inertial>
    </link>

    <joint name="${prefix}_roller_${num}_joint" type="continuous">
      <parent link="${prefix}_wheel_link" />
      <child link="${prefix}_roller_${num}" />
      <origin xyz="${x} ${roll_sign * y} 0" rpy="${roll_sign * rr} ${rp} ${roll_sign * ry}" />
      <axis xyz="0 0 1" />
      <dynamics damping="0.002" friction="2.0"/>
    </joint>

    <gazebo reference="${prefix}_roller_${num}">
      <material>Gazebo/Red</material>
      <mu1>0.7</mu1>
      <mu2>0.09</mu2>
      <fdir1>0 0 1</fdir1>
      <kp>1000000.0</kp>
      <kd>10.0</kd>
      <minDepth>0.0005</minDepth>
      <maxVel>0.01</maxVel>
    </gazebo>
  </xacro:macro>

</robot>